body{ background-color: whitesmoke; 
    padding: 300px 600px 300px 750px; 
    text-decoration-color: aliceblue;
} 
.first{
    background-color: rgb(208, 212, 211);
    height: 150px;
     width: 350px;
     text-align: center;
     border-top-left-radius  : 10px;
      border-top-right-radius  : 10px;
       padding-top: 40px;
         
         border-top:2px solid black ;
         border-left:2px solid black ;
         border-right:2px solid black ;

     } 
      #photo{ height: 120px;
        width: 120px;
         background-position: center; 
         border-radius: 100px;
         border: 3px solid rgb(27, 27, 29);
         background-size:contain;
         background-color: black;
      
        }

        .s{
             background-color:rgb(45, 77, 182); 
            height: 300px;
            width: 350px;
      text-align: center; 
      border-bottom-left-radius  : 10px;
      border-bottom-right-radius  : 10px;
      border-bottom:2px solid black ;
      border-bottom:2px solid black ;
      border-left:2px solid black ;
      border-right:2px solid black ;
        }
        
        *{
            margin: 0;
            padding: 0;
        }
    .loc {
            display: flex;
        }
        #sk{
            display: inline;
        }
        